git+https://github.com/huggingface/transformers
torch>=2.2.0
torchvision>=0.17.0
gradio==4.44.1
spaces>=0.28.0
yt-dlp>=2024.11.0
tavily-python>=0.3.0
accelerate>=0.30.0
librosa>=0.10.2
sentencepiece
protobuf
python-dotenv
audioop-lts
huggingface-hub>=0.25.1,<1.0.0
